<div class="jumbotron">

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="center">1. Sign in</h2>
        <div class="center">
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <%= f.text_field :email %>
            <%= f.password_field :password %>
            <br>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <br>
            <%= f.submit 'Sign in', { class: 'btn btn-primary' } %>
            <br>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
          <% end %>
        </div>
    </div>
    <div class="col-md-4">
      <h2 class="center">2. Save Some Searches</h2>
      <p>Enter some "for sale" searches just as you would for Craigslist!</p>
    </div>
    <div class="col-md-4">
      <h2 class="center">3. Check the Results</h2>
      <p>See what posts are returned daily - without having to go through
      the monotonous process of running your own searches!</p>
    </div>
  </div>
</div>

</div>
