<h2><%= @search.query %></h2>

<ul>
  <%= @search.location %>
  <%= @search.category %>
  <%= @search.min_price if @search.min_price %>
  <%= @search.max_price if @search.max_price %>
</ul>

<%= button_to 'Delete', search_path(@search), method: :delete,
  data: { confirm: 'Are you sure you want to delete this search?' } %>
