<div class="jumbotron"
  <div class="container">
    <h2><%= @post.title %></h2>
    <p><%= @post.location %> || $<%= @post.price %> || <%= @post.date %></p>

    <p><%= @post.body %></p>

    <% if @post.address %>
      <p>Approximate address (verify with seller!): <%= @post.address %></p>
    <% end %>
    <br>

    <% if @post.longitude && @post.latitude %>
      <div align="center">
        <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%= @gmaps_key %>&q=<%= @post.latitude %>,<%= @post.longitude %>">
        </iframe>
      </div>
    <% end %>
    <br>
    <br>

    <p><%= link_to 'View the original posting', @post.url %></p>
    <br>
  </div>
</div>
