<h2><%= @post.title %></h2>
<p><%= @post.location %> || $<%= @post.price %> || <%= @post.date %></p>

<p><%= @post.body %></p>

<% if @post.address %>
  <p>Approximate address (verify with seller!): <%= @post.address %></p>
<% end %>

<% if @post.longitude && @post.latitude %>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@post.latitude}%2C#{@post.longitude}" %>
<% end %>

<p><%= link_to 'View the original posting', @post.url %></p>
